In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('processed-data/my_book_post.csv')
df.head()

,title,pic,content,topic
0,"Chinatown, Sydney",http://upload.wikimedia.org/wikipedia/commons/...,Chinatown is an urban enclave situated in the ...,"Australia, New South Wales, and Dutch Heritage"
1,Jayson Musson,https://upload.wikimedia.org/wikipedia/commons...,Jayson Scott Musson is an artist who lives and...,Film and Television Industry
2,Euodynerus megaera,https://upload.wikimedia.org/wikipedia/commons...,Euodynerus megaera is a species of stinging wa...,Military
3,Simon W. Rosendale,https://upload.wikimedia.org/wikipedia/commons...,Simon Wolfe Rosendale was an American lawyer a...,Politicians and Public Servants
4,1998 Atlantic hurricane season,https://upload.wikimedia.org/wikipedia/commons...,The 1998 Atlantic hurricane season was one of ...,Natural Disasters and Heritage Sites

In [3]:
df['topic'].unique()

array(['Australia, New South Wales, and Dutch Heritage',
       'Film and Television Industry', 'Military',
       'Politicians and Public Servants',
       'Natural Disasters and Heritage Sites',
       'Marine Species and Airports', 'Automobiles and Engines',
       'Naval Warfare', 'War and Government',
       'Monarchy and Royal Families',
       'Population and Geography of India and Africa',
       'Football (Soccer)', 'Species and Plants',
       'Public Transportation and Education', 'Automobile Industry',
       'Historic Buildings and National Landmarks',
       'Russian, Ukrainian, and Armenian Cuisine',
       'United States Counties, Cities, Rivers',
       'Parks, Mountains, Rivers, Lakes, and Forests',
       'Olympics, Sports, and Protein Science in France',
       'Elections and Sports', 'Religious Buildings and Figures',
       'Energy, Water, and Light Processes', 'Music Industry',
       'Singers, Actors, Birthdays, Nationalities',
       'Municipalities and Population', 'Roads and Highways',
       'Art History and Architecture', 'Museums, Parks, and Arts',
       'Italy, Portugal, France, and Parisian Arrondissement'],
      dtype=object)

In [15]:
minimal_df = df.groupby('topic').apply(lambda x: x.head(500)).reset_index(drop=True)
minimal_df.groupby('topic').count()

                                                    title  pic  content
topic
Art History and Architecture                          500  500      500
Australia, New South Wales, and Dutch Heritage        358  358      358
Automobile Industry                                   500  500      500
Automobiles and Engines                               500  500      500
Elections and Sports                                  500  500      500
Energy, Water, and Light Processes                    500  500      500
Film and Television Industry                          500  500      500
Football (Soccer)                                     500  500      500
Historic Buildings and National Landmarks             500  500      500
Italy, Portugal, France, and Parisian Arrondiss...    210  210      210
Marine Species and Airports                           500  500      500
Military                                              500  500      500
Monarchy and Royal Families                           500  500      500
Municipalities and Population                         500  500      500
Museums, Parks, and Arts                              500  500      500
Music Industry                                        500  500      500
Natural Disasters and Heritage Sites                  500  500      500
Naval Warfare                                         500  500      500
Olympics, Sports, and Protein Science in France       500  500      500
Parks, Mountains, Rivers, Lakes, and Forests          500  500      500
Politicians and Public Servants                       500  500      500
Population and Geography of India and Africa          500  500      500
Public Transportation and Education                   500  500      500
Religious Buildings and Figures                       500  500      500
Roads and Highways                                    500  500      500
Russian, Ukrainian, and Armenian Cuisine              338  338      338
Singers, Actors, Birthdays, Nationalities             500  500      500
Species and Plants                                    500  500      500
United States Counties, Cities, Rivers                500  500      500
War and Government                                    500  500      500

In [16]:
import json

result = minimal_df.to_json(orient='records')
parsed = json.loads(result)
json_out = json.dumps(parsed, indent=4)

with open('processed-data/my_book_post_minimal.json', 'w') as file:
    file.write(json_out)